POSTGRES_DB=nombre_de_la_db
POSTGRES_USER=usuario_postgres
POSTGRES_PASSWORD=postgres_password

# Variables de Conexión (leídas por el servicio 'backend')
DB_HOST=db
DB_PORT=5432
DB_NAME=nombre_de_la_db
DB_USER=usuario_postgres

# Variables de Google Cloud (leídas por el servicio 'backend')
# La GEMINI_API_KEY sigue siendo útil como fallback para el código
GEMINI_API_KEY=tu_api_key
# --- LA LÍNEA MÁS IMPORTANTE ---
# Esta es la variable que soluciona el error de "Project ID not determined"
GOOGLE_CLOUD_PROJECT=nombre_del_proyecto